# Exclude everything
/*

# Specific includes

## Build System/Scripts
!NuGet.Config
!Directory.Build.props
!build.sh
!build.ps1
!build.cmd

## Markdowns
!*.md
!LICENSE

## important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

## Assets
!assets/

## Thunderstore metadata
!thunderstore.toml

## Projects
!LC-API.sln
!LC-API.csproj

### Source Modules
!BundleAPI
!ClientAPI
!Comp 
!Data
!Exceptions
!Extensions
!GameInterfaceAPI
!ManualPatches
!ServerAPI

### Source Files
!**.cs

# Explicit exceptions/ignores
**.user