
obj/Debug/net46/LC-API.assets.cache
obj/LC-API.csproj.nuget.dgspec.json
obj/LC-API.csproj.nuget.g.props
obj/LC-API.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net46/LC-API.csproj.AssemblyReference.cache
